<div id="<%= dom_id grain_jar %>">
  <p>
    <strong>Retired:</strong>
    <%= grain_jar.retired %>
  </p>

  <p>
    <strong>Innoculated:</strong>
    <%= grain_jar.innoculated %>
  </p>

  <p>
    <strong>Shaken:</strong>
    <%= grain_jar.shaken %>
  </p>

  <p>
    <strong>Grain:</strong>
    <%= grain_jar.grain %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= grain_jar.name %>
  </p>

</div>
