<p style="color: green"><%= notice %></p>

<%= link_to "New grain jar", new_grain_jar_path %>

<h1>Grain Jars</h1>

<h2>Active</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Innoculated</th>
    <th>Shaken</th>
    <th>Grain</th>
  </tr>
  <% @active_jars.each do |jar| %>
    <tr>
      <td><%=jar.edit_link%></td>
      <td><%=jar.innoculated%></td>
      <td><%=jar.shaken%></td>
      <td><%=jar.grain%></td>
    </tr>
  <% end %>
</table>


<h2>Retired</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Innoculated</th>
    <th>Retired</th>
    <th>Shaken</th>
    <th>Grain</th>
  </tr>
  <% @retired_jars.each do |jar| %>
    <tr>
      <td><%=jar.name%></td>
      <td><%=jar.innoculated%></td>
      <td><%=jar.retired%></td>
      <td><%=jar.shaken%></td>
      <td><%=jar.grain%></td>
    </tr>
  <% end %>
</table>
